<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="per.learn.learnabs"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >
        <activity
            android:name="per.learn.learnabs.LearnAbsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="per.learn.learnabs.LearnAbsOtherActivity"/>
        <activity android:name="per.learn.learnabs.SettingsActivity"/>
        <activity android:name="per.learn.learnabs.LearnAbsSearchActivity"/>
        <activity android:name="per.learn.learnabs.LearnAbsStaticAttachActivity"/>
        <activity android:name="per.learn.learnabs.LearnAbsSubMenu"/>
    </application>

</manifest>
